<h1>Contact</h1>
<a href="https://www.facebook.com/nacho.torras.3" target="_blank" class="btn btn-social-icon btn-lg btn-facebook">
    <i class="fa fa-facebook"></i>
</a>
<a href="https://plus.google.com/u/0/+IgnacioTorras" target="_blank" class="btn btn-social-icon btn-lg btn-google">
    <i class="fa fa-google"></i>
</a>
<a href="https://instagram.com/nachdacratch" target="_blank" class="btn btn-social-icon btn-lg btn-instagram">
    <i class="fa fa-instagram"></i>
</a>
<a href="https://twitter.com/nachdacratch" target="_blank" class="btn btn-social-icon btn-lg btn-twitter">
    <i class="fa fa-twitter"></i>
</a>
<a href="https://www.linkedin.com/in/ignaciotorras" target="_blank" class="btn btn-social-icon btn-lg btn-linkedin">
    <i class="fa fa-linkedin"></i>
</a>
<a href="https://github.com/itorras13" target="_blank" class="btn btn-social-icon btn-lg btn-github">
    <i class="fa fa-github"></i>
</a>