<div class="container" id="intro">

    <div class="jumbotron">
        <div class="intro-image">
            <h3>Welcome to the 2018 World Cup Bracket Challenge</h3>

            <img src="/static/img/wcbg2.jpg" class="img-fluid rouned bg">
            <p class="intro-text">We had a lot of fun doing this for the 2010 and 2014 World Cup so we are bringing the game back. We have increased
                the buy-in from $25 to $50 USD so we expect the payouts to be much bigger this year.
                <br> If you have any questions please contact
                <a href="mailto:itorras13@gmail.com" target="_top">Nacho Torras</a> or
                <a href="mailto:torrasjose@gmail.com" target="_top">Jose Torras</a>.

        </div>
    </div>

</div>