<div class="container" id="intro">

    <div class="jumbotron">
        <div class="intro-image">
            <h3>Welcome to the 2018 World Cup Bracket Challenge</h3>

            <img src="/static/img/wcbg2.jpg" class="img-fluid rouned bg">
            <p class="intro-text">We had a lot of fun doing this for the 2010 and 2014 World Cup so we are bringing the game back. We have increased
                the buy-in from $25 to $50 USD so we expect the payouts to be much bigger this year.
                <br> All the details on how to fill out the bracket and to keep track of the standings should be below... but
                if you have any questions please contact
                <a href="mailto:itorras13@gmail.com" target="_top">Nacho Torras</a>,
                <a href="mailto:rodrigo.a.chapa@gmail" target="_top">Rodrigo Chapa</a>,
                <a href="mailto:mailto:mruizdlt@gmail.com" target="_top">Mauricio Ruiz</a> or
                <a href="mailto:torrasjose@gmail.com" target="_top">Jose Torras</a>.
                <br>Current pot size: ${{'{:,}'.format(pot) }}</p>
        </div>
    </div>

</div>