<div class="container" id="payment">

    <div class="jumbotron">
        <h1>How To Pay</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                Venmo Jose Luis
                <a href="https://venmo.com/Jose-Torras" target="_blank">(@Jose-Torras)</a>
            </li>
            <li class="list-group-item">
                <i class="fa fa-paypal" aria-hidden="true"></i> Pay
                <a href="https://www.paypal.com/pools/c/83iIAyS8bN" target="_blank">Jose</a> through PayPal
            </li>
            <li class="list-group-item">
                <i class="fa fa-money" aria-hidden="true"></i> Pay anyone in the Torras family in cash</li>
        </ul>
    </div>

</div>