<div class="container" id="points">

    <div class="jumbotron">
        <h1>Point System</h1>
        <div class="scrollableTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Points Awarded</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="longRow">Group Stage</td>
                    </tr>
                    <tr>
                        <td>Guessing the result (win,loss,tie) but not the score of a game</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Guessing the exact result of a game</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Guessing the team passes but in the wrong position</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Guessing the team passes in the right position</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="longRow">Knockout Stage</td>
                    </tr>
                    <tr>
                        <td>Round of 16</td>
                        <td>6 per Correct Team</td>
                    </tr>
                    <tr>
                        <td>Quarter-Finals</td>
                        <td>9 per Correct Team</td>
                    </tr>
                    <tr>
                        <td>Semi-Finals</td>
                        <td>12 per Team</td>
                    </tr>
                    <tr>
                        <td>Third Place Game</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Guessing the champion of World Cup 2018</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Guessing the player awards</td>
                        <td>6 per Award</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="longRow">TieBreakers</td>
                    </tr>
                    <tr>
                        <td colspan="2"> 1. Whoever correctly perdicted the most exact scores in the group stage</td>
                    </tr>
                    <tr>
                        <td colspan="2"> 2. Whoever received the most points in the group stage</td>
                    </tr>
                    <tr>
                        <td colspan="2"> 3. Whoever correctly predicted the most quarterfinalists</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>