<div class="container" id="points">

    <div class="jumbotron">
        <h1>Point System</h1>
        <div class="scrollableTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>How</th>
                        <th>How Many</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="longRow">Group Stage</td>
                    </tr>
                    <tr>
                        <td>Guessing the result (win,loss,tie) but not the score of a game</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Guessing the exact result of a game</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Guessing the team passes but in the wrong position</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Guessing the team passes in the right position</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="longRow">Knockout Stage</td>
                    </tr>
                    <tr>
                        <td>Guessing which eight teams qualify for the quarterfinals</td>
                        <td>4 per Team</td>
                    </tr>
                    <tr>
                        <td>Guessing which four teams qualify for the semifinals</td>
                        <td>6 per Team</td>
                    </tr>
                    <tr>
                        <td>Guessing which two teams qualify for the final</td>
                        <td>10 per Team</td>
                    </tr>
                    <tr>
                        <td>Guessing the third place team (Found out that no 3rd place game in Euro so ignore)</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Guessing the champion of Euro 2016</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Guessing the top goal scorer of the tournament</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="longRow">TieBreakers</td>
                    </tr>
                    <tr>
                        <td colspan="2"> 1. Whoever correctly perdicted the most exact scores in the group stage</td>
                    </tr>
                    <tr>
                        <td colspan="2"> 2. Whoever received the most points in the group stage</td>
                    </tr>
                    <tr>
                        <td colspan="2"> 3. Whoever correctly predicted the most quarterfinalists</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>