<div class="container" id="rules">

    <div class="jumbotron">
        <h1>Rules</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-usd" aria-hidden="true"></i>
                Entry price: $50 per submission
            </li>
            <li class="list-group-item">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                You can submit up to 3 times
            </li>
            <li class="list-group-item">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                June 13th is the last day you can pay to enter the competition
            </li>
            <li class="list-group-item">
                <i class="fa fa-ban" aria-hidden="true"></i>
                If you are unable pay on time make sure to contact Nacho or Jose, if not your submission will be deleted
            </li>
            <li class="list-group-item">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                Payouts: 1st Place: 70%, 2nd Place: 20%, 3rd Place: 10%
            </li>
            {% if submissions != [] %}
            <li class="list-group-item">
                <i class="fa fa-money" aria-hidden="true"></i>
                Current Payouts: 1st: ${{submissions|count * 50 * 0.70}} 2nd: ${{submissions|count * 50 * 0.20}} 3rd: ${{submissions|count
                * 50 * 0.1}}
            </li>
            {% endif %}
        </ul>
    </div>

</div>