<div class="container" id="payouts">

    <div class="jumbotron">
        <h1>Payouts</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fa fa-money" aria-hidden="true"></i>
                Pot Size: ${{'{:,}'.format(pot) }} ($100 has been deducted to cover costs and fees)
            </li>
            <li class="list-group-item">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                Payouts: 1st Place: 60%, 2nd Place: 25%, 3rd Place: 10%, 4th Place: 5% (Any and all fees incurred for payment transfers will
                be deducted from the winnings)
            </li>
            <li class="list-group-item">
                <i class="fa fa-money" aria-hidden="true"></i>
                Current Payouts: 1st: ${{'{:,}'.format(pot * 0.60)}} 2nd: ${{'{:,}'.format(pot * 0.25)}} 3rd: ${{'{:,}'.format(pot * 0.1)}}
                4th: ${{'{:,}'.format(pot * 0.05)}}
            </li>
        </ul>
    </div>

</div>