<div class="container" id="standings">

    <div class="jumbotron">
        <h1>Standings</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="standingsName" name="standings_name" placeholder="Search by name">
        </div>
        <div class="scrollableTable">
            {% if submissions != [] %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Name</th>
                        <th>Winner</th>
                        <th>Points</th>
                        <th>Max Points</th>
                    </tr>
                </thead>
                <tbody id="standingsBody">
                    {% for submission in submissions %}
                    <tr>
                        <td>{{submission['place']}}</td>
                        <td id="{{submission['name']}}">
                            <a href="{{ '/show/'+submission['id']|string}}">{{submission['name']}}</a>
                        </td>
                        {% if submission['winner'] in ['Germany', 'Argentina', 'Portugal', 'Spain', 'Mexico', 'Colombia', 'Uruguay'] %}
                        <td>
                            <strike>{{submission['winner']}}</strike>
                        </td>
                        {% else %}
                        <td>{{submission['winner']}}</td>
                        {% endif %}
                        <td>{{submission['points']}}</td>
                        <td style="text-align:center">{{submission['left']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %} Standings will be shown once all submissions are made {% endif %}
        </div>
    </div>

</div>