#mainNav {
  background-color: #ffffff;
}

body {
  padding-top: 70px;
}

.scrollableTable {
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

.longRow {
  text-align: center;
  font-weight: bold;
}

/* Form */

.form {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 500px;
}

.gameRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 5px;
}

.country {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score {
  width: 55px;
  margin-left: 5px;
  margin-right: 5px;
}
#regForm {
  margin: 20px auto;
  font-family: Raleway;
  padding: 40px;
  width: 80%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}
