#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tableDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#table {
  max-width: 829px;
}
