<div class="row">
    <h3>Final/Third Place</h3>
</div>

<div class="gameRow">
    <label class="gameLabel" for="third">Third Place</label>
    <div class="select">
        <select class="form-control" type="text" id="third" name="third" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="final">Champion</label>
    <div class="select">
        <select class="form-control" type="text" id="final" name="final" required>
        </select>
    </div>
</div>