<div class="row">
    <h3>Group A</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="a1h">Russia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a1a"></input>
        <label class="control-label col-sm-4 country" for="a1a">Saudi Arabia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="a2h">Egypt</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a2a"></input>
        <label class="control-label col-sm-4 country" for="a2a">Uruguay</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="a3h">Russia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a3a"></input>
        <label class="control-label col-sm-4 country" for="a3a">Egypt</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="a4h">Uruguay</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a4a"></input>
        <label class="control-label col-sm-4 country" for="a4a">Saudi Arabia</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="a5h">Uruguay</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a5a"></input>
        <label class="control-label col-sm-4 country" for="a5a">Russia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="a6h">Saudi Arabia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="a6a"></input>
        <label class="control-label col-sm-4 country" for="a6a">Egypt</label>
    </div>
</div>
<div class="row">
    <h3>Group B</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="b1h">Morocco</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b1a"></input>
        <label class="control-label col-sm-4 country" for="b1a">Iran</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="b2h">Portugal</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b2a"></input>
        <label class="control-label col-sm-4 country" for="b2a">Spain</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="b3h">Portugal</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b3a"></input>
        <label class="control-label col-sm-4 country" for="b3a">Morocco</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="b4h">Iran</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b4a"></input>
        <label class="control-label col-sm-4 country" for="b4a">Spain</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="b5h">Spain</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b5a"></input>
        <label class="control-label col-sm-4 country" for="b5a">Morocco</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="b6h">Iran</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="b6a"></input>
        <label class="control-label col-sm-4 country" for="b6a">Portugal</label>
    </div>
</div>
<div class="row">
    <h3>Group C</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="c1h">France</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c1a"></input>
        <label class="control-label col-sm-4 country" for="c1a">Australia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="c2h">Peru</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c2a"></input>
        <label class="control-label col-sm-4 country" for="c2a">Denmark</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="c3h">Denmark</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c3a"></input>
        <label class="control-label col-sm-4 country" for="c3a">Australia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="c4h">France</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c4a"></input>
        <label class="control-label col-sm-4 country" for="c4a">Peru</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="c5h">Denmark</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c5a"></input>
        <label class="control-label col-sm-4 country" for="c5a">France</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="c6h">Australia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="c6a"></input>
        <label class="control-label col-sm-4 country" for="c6a">Peru</label>
    </div>
</div>
<div class="row">
    <h3>Group D</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="d1h">Argentina</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d1a"></input>
        <label class="control-label col-sm-4 country" for="d1a">Iceland</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="d2h">Croatia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d2a"></input>
        <label class="control-label col-sm-4 country" for="d2a">Nigeria</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="d3h">Argentina</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d3a"></input>
        <label class="control-label col-sm-4 country" for="d3a">Croatia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="d4h">Nigeria</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d4a"></input>
        <label class="control-label col-sm-4 country" for="d4a">Iceland</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="d5h">Iceland</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d5a"></input>
        <label class="control-label col-sm-4 country" for="d5a">Croatia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="d6h">Nigeria</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="d6a"></input>
        <label class="control-label col-sm-4 country" for="d6a">Argentina</label>
    </div>
</div>
<div class="row">
    <h3>Group E</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="e1h">Costa Rica</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e1a"></input>
        <label class="control-label col-sm-4 country" for="e1a">Serbia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="e2h">Brazil</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e2a"></input>
        <label class="control-label col-sm-4 country" for="e2a">Switzerland</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="e3h">Brazil</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e3a"></input>
        <label class="control-label col-sm-4 country" for="e3a">Costa Rica</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="e4h">Serbia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e4a"></input>
        <label class="control-label col-sm-4 country" for="e4a">Switzerland</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="e5h">Serbia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e5a"></input>
        <label class="control-label col-sm-4 country" for="e5a">Brazil</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="e6h">Switzerland</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="e6a"></input>
        <label class="control-label col-sm-4 country" for="e6a">Costa Rica</label>
    </div>
</div>
<div class="row">
    <h3>Group F</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="f1h">Germany</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f1a"></input>
        <label class="control-label col-sm-4 country" for="f1a">Mexico</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="f2h">Sweden</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f2a"></input>
        <label class="control-label col-sm-4 country" for="f2a">South Korea</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="f3h">South Korea</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f3a"></input>
        <label class="control-label col-sm-4 country" for="f3a">Mexico</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="f4h">Germany</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f4a"></input>
        <label class="control-label col-sm-4 country" for="f4a">Sweden</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="f5h">Mexico</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f5a"></input>
        <label class="control-label col-sm-4 country" for="f5a">Sweden</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="f6h">South Korea</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="f6a"></input>
        <label class="control-label col-sm-4 country" for="f6a">Germany</label>
    </div>
</div>
<div class="row">
    <h3>Group G</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="g1h">Belgium</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g1a"></input>
        <label class="control-label col-sm-4 country" for="g1a">Panama</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="g2h">Tunisia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g2a"></input>
        <label class="control-label col-sm-4 country" for="g2a">England</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="g3h">Belgium</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g3a"></input>
        <label class="control-label col-sm-4 country" for="g3a">Tunisia</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="g4h">England</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g4a"></input>
        <label class="control-label col-sm-4 country" for="g4a">Panama</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="g5h">England</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g5a"></input>
        <label class="control-label col-sm-4 country" for="g5a">Belgium</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="g6h">Panama</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="g6a"></input>
        <label class="control-label col-sm-4 country" for="g6a">Tunisia</label>
    </div>
</div>
<div class="row">
    <h3>Group H</h3>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="h1h">Colombia</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h1h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h1a"></input>
        <label class="control-label col-sm-4 country" for="h1a">Japan</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="h2h">Poland</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h2h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h2a"></input>
        <label class="control-label col-sm-4 country" for="h2a">Senegal</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="h3h">Japan</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h3h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h3a"></input>
        <label class="control-label col-sm-4 country" for="h3a">Senegal</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="h4h">Poland</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h4h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h4a"></input>
        <label class="control-label col-sm-4 country" for="h4a">Colombia</label>
    </div>
</div>
<div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="h5h">Japan</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h5h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h5a"></input>
        <label class="control-label col-sm-4 country" for="h5a">Poland</label>
    </div>
    <div class="gameRow">
        <label class="control-label col-sm-4 country" for="h6h">Senegal</label>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h6h"></input>
        <input min=0 max=9 type="number" class="form-control col-sm-auto score" name="h6a"></input>
        <label class="control-label col-sm-4 country" for="h6a">Colombia</label>
    </div>
</div>