<div class="row">
    <h3>Round of 16</h3>
</div>

<div class="gameRow">
    <label class="gameLabel" for="r1">A1 vs B2</label>
    <div class="select">
        <select class="form-control" type="text" id="r1" name="r1" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r2">C1 vs D2</label>
    <div class="select">
        <select class="form-control" type="text" id="r2" name="r2" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r3">E1 vs F2</label>
    <div class="select">
        <select class="form-control" type="text" id="r3" name="r3" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r4">G1 vs H2</label>
    <div class="select">
        <select class="form-control" type="text" id="r4" name="r4" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r5">B1 vs A2</label>
    <div class="select">
        <select class="form-control" type="text" id="r5" name="r5" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r6">D1 vs C2</label>
    <div class="select">
        <select class="form-control" type="text" id="r6" name="r6" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r7">F1 vs E2</label>
    <div class="select">
        <select class="form-control" type="text" id="r7" name="r7" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r8">H1 vs G2</label>
    <div class="select">
        <select class="form-control" type="text" id="r8" name="r8" required>
        </select>
    </div>
</div>