<div class="row">
    <h3>Round of 16</h3>
</div>

<div class="gameRow">
    <label class="gameLabel" for="r1">Game 1</label>
    <div class="select">
        <select class="form-control" type="text" id="r1" name="r1" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r2">Game 2</label>
    <div class="select">
        <select class="form-control" type="text" id="r2" name="r2" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r3">Game 3</label>
    <div class="select">
        <select class="form-control" type="text" id="r3" name="r3" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r4">Game 4</label>
    <div class="select">
        <select class="form-control" type="text" id="r4" name="r4" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r5">Game 5</label>
    <div class="select">
        <select class="form-control" type="text" id="r5" name="r5" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r6">Game 6</label>
    <div class="select">
        <select class="form-control" type="text" id="r6" name="r6" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r7">Game 7</label>
    <div class="select">
        <select class="form-control" type="text" id="r7" name="r7" required>
        </select>
    </div>
</div>
<div class="gameRow">
    <label class="gameLabel" for="r8">Game 8</label>
    <div class="select">
        <select class="form-control" type="text" id="r8" name="r8" required>
        </select>
    </div>
</div>