<option disabled selected value style="display: none"></option>
<option value="Cristiano Ronaldo">Cristiano Ronaldo</option>
<option value="Thomas Muller">Thomas Muller</option>
<option value="Antoine Griezmann">Antoine Griezmann</option>
<option value="Oliver Giroud">Oliver Giroud</option>
<option value="Robert Lewandowski">Robert Lewandowski</option>
<option value="Romelu Lukaku">Romelu Lukaku</option>
<option value="Harry Kane">Harry Kane</option>
<option value="Diego Costa">Diego Costa</option>
<option value="Zlatan Ibrahimovic">Zlatan Ibrahimovic</option>
<option value="Anthony Martial">Anthony Martial</option>
<option value="Mario Gotze">Mario Gotze</option>
<option value="Christian Benteke">Christian Benteke</option>
<option value="Graziano Pelle">Graziano Pelle</option>
<option value="Artiz Aduriz">Artiz Aduriz</option>
<option value="Divock Origi">Divock Origi</option>
<option value="Mario Gomez">Mario Gomez</option>
<option value="Alvaro Morata">Alvaro Morata</option>
<option value="Daniel Sturridge">Daniel Sturridge</option>
<option value="Kevin de Bryune">Kevin de Bryune</option>
<option value="Marco Reus">Marco Reus</option>
<option value="Wayne Rooney">Wayne Rooney</option>
<option value="Mario Mandzukic">Mario Mandzukic</option>
<option value="Alexandre Lacazette">Alexandre Lacazette</option>
<option value="Eden Hazard">Eden Hazard</option>
<option value="Pablo Alcacer">Pablo Alcacer</option>
<option value="Fernando Torres">Fernando Torres</option>
<option value="Gareth Bale">Gareth Bale</option>
<option value="Michy Batshuayi">Michy Batshuayi</option>
<option value="Jamie Vardy">Jamie Vardy</option>
<option value="Andre Schurrle">Andre Schurrle</option>
<option value="Other">Other</option>