<option disabled selected value style="display: none"></option>
<option value="Albania">Albania</option>
<option value="Austria">Austria</option>
<option value="Belgium">Belgium</option>
<option value="Croatia">Croatia</option>
<option value="Czech Republic">Czech Republic</option>
<option value="England">England</option>
<option value="France">France</option>
<option value="Germany">Germany</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="Italy">Italy</option>
<option value="Northern Ireland">Northern Ireland</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Republic of Ireland">Republic of Ireland</option>
<option value="Romania">Romania</option>
<option value="Russia">Russia</option>
<option value="Slovakia">Slovakia</option>
<option value="Spain">Spain</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Turkey">Turkey</option>
<option value="Ukraine">Ukraine</option>
<option value="Wales">Wales</option>