<form class="form-horizontal" role="form" action='/submit' id="formfield" method='post'>
  <div class="form-group">
  <h3 class="col-sm-8">**Using old broswers like IE8 may not work**</h3>
  <h3 class="col-sm-8">**For best results use Chrome Browser**</h3>
  </div>
  <div class="form-group">
	<label class="control-label col-sm-2" for="email">Email:</label>
	<div class="col-sm-6">
	  <input type="email" class="form-control" name="email" placeholder="Enter e-mail" required></input>
	</div>
	<label class="control-label col-sm-2" for="submission_num">Submission #:</label>
	<div class="col-sm-2">
		<select class="form-control" type="number" name="submission_num">
			<option value="1">1st Submission</option><option value="2">2nd Submission</option><option value="3">3rd Submission</option>
		</select>
	</div>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2" for="first_name">First Name:</label>
  	<div class="col-sm-10">
  		<input type"text" class="form-control" name="first_name" placeholder="Enter Your First Name" required></input>
  	</div>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2" for="last_name">Last Name:</label>
  	<div class="col-sm-10">
  		<input type"text" class="form-control" name="last_name" placeholder="Enter Your Last Name" required></input>
  	</div>
  </div>

  {% include '/submit/group_matches.html' %}
  <div class="form-group">
    <button type="button" id="pointsButton" data-loading-text="Calculating..." class="btn btn-primary btn-responsive center-block" autocomplete="off">
      Click here to calculate group standings based on your selections.
    </button>
  </div>
  
  <div class="collapse" id="bracketCollapse">

  {% include '/submit/group_standings.html' %}
  <br>
  <div class="form-group">
  <p class="help-block col-sm-12">The choices you get for each Team # are the two teams that would play each other in the scenario you have predicted.</p>
  </div>

  <div class="form-group">
  <label class="control-label col-sm-2">Quarter Finalists</label>
  </div>

  <div class="form-group">
  <label class="control-label col-sm-1 q1" for="q1">Team 1</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q1" name="q1" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 q2" for="q2">Team 2</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q2" name="q2" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 q3" for="q3">Team 3</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q3" name="q3" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 q4" for="q4">Team 4</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q4" name="q4" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-1 q5" for="q5">Team 5</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q5" name="q5" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 q6" for="q6">Team 6</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q6" name="q6" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 q7" for="q7">Team 7</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q7" name="q7" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 q8" for="q8">Team 8</label>
  	<div class="col-sm-2">
  		<select class="form-control quarter_select" type="text" id="q8" name="q8" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  <label class="control-label col-sm-2">Semi Finalists</label>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-1 s1" for="semi1">Team 1</label>
  	<div class="col-sm-2">
  		<select class="form-control semi_select" type="text" id="s1" name="semi1" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 s2" for="semi2">Team 2</label>
  	<div class="col-sm-2">
  		<select class="form-control semi_select" type="text" id="s2" name="semi2" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 s3" for="semi3">Team 3</label>
  	<div class="col-sm-2">
  		<select class="form-control semi_select" type="text" id="s3" name="semi3" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 s4" for="semi4">Team 4</label>
  	<div class="col-sm-2">
  		<select class="form-control semi_select" type="text" id="s4" name="semi4" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  <label class="control-label col-sm-2">Finalists</label>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-1 fin1" for="fin1">Team 1</label>
  	<div class="col-sm-2">
  		<select class="form-control fin_select" type="text" id="fin1" name="fin1" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1 fin2" for="fin2">Team 2</label>
  	<div class="col-sm-2">
  		<select class="form-control fin_select" type="text" id="fin2" name="fin2" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  <label class="control-label col-sm-2">Winners</label>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-1 champion" for="champion">Champion</label>
  	<div class="col-sm-2">
  		<select class="form-control champs_select" type="text" id="champion" name="champion" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  <label class="control-label col-sm-1" for="third_place">Third Place</label>
  	<div class="col-sm-2">
  		<select class="form-control fin_select" type="text" id="third_place" name="third_place" required>
			<option disabled selected value style="display: none"></option>
		</select>
  	</div>
  </div>

  <div class="form-group">
  <label class="control-label col-sm-2">Top Goal Scorer</label>
  </div>
  <div class="form-group">
  <p class="help-block col-sm-9">The predicted top 30 are listed in order, if you put other and none of the top 30 win then you get the points</p>
  </div>
  <div class="form-group">
  <label class="control-label col-sm-1" for="top_scorer">Gold Boot</label>
  	<div class="col-sm-2">
  		<select class="form-control" type="text" name="top_scorer" required>
			{% include '/submit/all_scorer_options.html' %}
		</select>
  	</div>
  </div>

  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h3>Confirm that you want to submit or close to make changes</h3>
              </div>
              <!-- <div class="modal-body">
                  <p id="modalParagraph"></p>
              </div> -->
              <div class="modal-footer">
                  <button type="submit" id="actualSubmit" class="btn btn-primary">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>


  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" id="submitBtn" class="btn btn-default">Submit</button>
    </div>
  </div>
  </div>
</form>