<div class="form-group">
  <label class="control-label col-sm-2">Group A</label>
  <p class="help-block col-sm-5">Insert scores for each team like shown below</p>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games A1 & A2</label>
  	<label class="control-label col-sm-1" for="a1h">France</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a1h" placeholder="3"required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a1a" placeholder="0"required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a1a">Romania</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="a2h">Albania</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a2h" placeholder="2" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a2a" placeholder="2" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a2a">Switzerland</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games A3 & A4</label>
  	<label class="control-label col-sm-1" for="a3h">Romania</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a3a">Switzerland</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="a4h">France</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a4a">Albania</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games A5 & A6</label>
  	<label class="control-label col-sm-1" for="a5h">Switzerland</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a5a">France</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="a6h">Romania</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="a6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="a6a">Albania</label>
  </div>


  
  <div class="form-group">
  <label class="control-label col-sm-2">Group B</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games B1 & B2</label>
  	<label class="control-label col-sm-1" for="b1h">Wales</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b1a">Slovakia</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="b2h">England</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b2a">Russia</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games B3 & B4</label>
  	<label class="control-label col-sm-1" for="b3h">Russia</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b3a">Slovakia</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="b4h">England</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b4a">Wales</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games B5 & B6</label>
  	<label class="control-label col-sm-1" for="b5h">Slovakia</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b5a">England</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="b6h">Russia</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="b6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="b6a">Wales</label>
  </div>


  <div class="form-group">
  <label class="control-label col-sm-2">Group C</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games C1 & C2</label>
  	<label class="control-label col-sm-1" for="c1h">Poland</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c1a">Northern Ireland</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="c2h">Germany</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c2a">Ukraine</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games C3 & C4</label>
  	<label class="control-label col-sm-1" for="c3h">Ukraine</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c3a">Northern Ireland</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="c4h">Germany</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c4a">Poland</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games C5 & C6</label>
  	<label class="control-label col-sm-1" for="c5h">Northern Ireland</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c5a">Germany</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="c6h">Ukraine</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="c6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="c6a">Poland</label>
  </div>


  <div class="form-group">
  <label class="control-label col-sm-2">Group D</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games D1 & D2</label>
  	<label class="control-label col-sm-1" for="d1h">Turkey</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d1a">Croatia</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="d2h">Spain</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d2a">Czech Republic</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games D3 & D4</label>
  	<label class="control-label col-sm-1" for="d3h">Czech Republic</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d3a">Croatia</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="d4h">Spain</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d4a">Turkey</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games D5 & D6</label>
  	<label class="control-label col-sm-1" for="d5h">Croatia</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d5a">Spain</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="d6h">Czech Republic</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="d6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="d6a">Turkey</label>
  </div>




  <div class="form-group">
  <label class="control-label col-sm-2">Group E</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games E1 & E2</label>
  	<label class="control-label col-sm-1" for="e1h">Republic of Ireland</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="e1a">Sweden</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="e2h">Belgium</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="e2a">Italy</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games E3 & E4</label>
  	<label class="control-label col-sm-1" for="e3h">Italy</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="e3a">Sweden</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="e4h">Belgium</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="e4a">Republic of Ireland</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games E5 & E6</label>
  	<label class="control-label col-sm-1" for="e5h">Sweden</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="e5a">Belgium</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="e6h">Italy</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="e6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="e6a">Republic of Ireland</label>
  </div>



  <div class="form-group">
  <label class="control-label col-sm-2">Group F</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games F1 & F2</label>
  	<label class="control-label col-sm-1" for="f1h">Austria</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f1h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f1a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="f1a">Hungary</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="f2h">Portugal</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f2h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f2a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="f2a">Iceland</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games F3 & F4</label>
  	<label class="control-label col-sm-1" for="f3h">Iceland</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f3h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f3a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="f3a">Hungary</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="f4h">Portugal</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f4h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f4a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="f4a">Austria</label>
  </div>
  <div class="form-group">
  	<label class="control-label col-sm-2">Games F5 & F6</label>
  	<label class="control-label col-sm-1" for="f5h">Hungary</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f5h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f5a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="f5a">Portugal</label>
  	<div class="col-sm-1"></div>
  	<label class="control-label col-sm-1" for="f6h">Iceland</label>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f6h" required></input>
  	</div>
  	<div class="col-sm-1">
  		<input min=0 max=9 type="number" class="form-control" name="f6a" required></input>
  	</div>
  	<label class="control-label col-sm-1" for="f6a">Austria</label>
  </div>
