<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #5cb85c;">
                <h1><i class="glyphicon glyphicon-thumbs-up"></i>  Thank you for submitting!</h1>

            </div>
            <div class="modal-body">
                <p>It seems like everything is running smoothly, but make sure to scroll down to the standings to double check that your submission was made! Also you should have gotten a confirmation email. It could end up in your spam folder. Thank you!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Failure Modal -->
<div class="modal fade" id="failureModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #d9534f;">
                <h1><i class="glyphicon glyphicon-thumbs-down"></i>  It seems like something went wrong!</h1>
            </div>
            <div class="modal-body">
                <p>Check to make sure you have not submitted before with the same email and submission number. Please check both things before submitting again. If this is not the case please contact Ignacio Torras. Also, you can close this window and then hit backspace and all the info you entered should still be there.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>