<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Euro 2016</title>

	<!-- Bootstrap Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

	<!-- Social CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
        	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        	ga('create', 'UA-51157838-4', 'auto');
        	ga('send', 'pageview');

        </script>

    </head>

    <body>

    	<div id="wrapper">

    		<!-- Sidebar -->
    		<div id="sidebar-wrapper">
    			<ul class="sidebar-nav">
    				<li class="sidebar-brand">
    					<a href="/">
    						Home
    					</a>
    				</li>
    				<li>
    					<a href="/#rules">Rules</a>
    				</li>
    				<li>
    					<a href="/#points">Point System</a>
    				</li>
    				<li>
    					<a href="/#payment">How To Pay</a>
    				</li>
    				<li>
    					<a href="/stats">Stats</a>
    				</li>
    				<li>
    					<a href="/#standings">Standings</a>
    				</li>
    				<li>
    					<a href="/#contact">Contact</a>
    				</li>
                    <li>
                        <a href="http://copaamerica16.herokuapp.com/">Copa America Challenge</a>
                    </li>
    			</ul>
    		</div>
    		<!-- /#sidebar-wrapper -->

    		<!-- Page Content -->
    		<div id="page-content-wrapper">
    			<div class="container-fluid">
    				<div class="row" id="top">
    					<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
    					<div class="col-lg-12">
    						<h1>View other peoples submissions</h1>
    					</div>
    					<!-- <div class="col-lg-12">
    						<div class="col-sm-4"></div>
    						<h5 class="col-sm-4 text-center">Choose a person to see their quiniela</h5>
    					</div>
    					<div class="col-lg-12">
    						<div class="col-sm-5"></div>
    						<select class="col-sm-2" id="show_email" name="show_email">
    							<option disabled selected value style="display: none"></option>
    							{% for nae in names_and_emails %}
    							<option value="{{ nae['email'] }}">{{ nae["name"] }}</option>
    							{% endfor %}
    						</select>
    						<div class="col-sm-5"></div>
    					</div> -->
    					<div class="col-lg-12">
    						<div class="col-sm-4"></div>
    						<h3 class="col-sm-4 text-center">{{ sub.first_name }}  {{ sub.last_name}}</h3>
    					</div>
    					<div class="col-lg-12">
    						<div class="col-lg-1"></div>
    						<div class="col-lg-10 text-center">
    							<h3>Submission {{ sub.submission_number }} Points: {{ sub.points }}</h3>
                                <span style="background-color:#00cc00">Green means score was predicted correctly (3 points)</span><br>
                                <span style="background-color:#ffff66">Yellow means winner or tie was predicted correctly (1 point)</span><br>
                                <span style="background-color:#ff4d4d">Red means winner or tie was predicted wrong (0 points)</span><br> 
                                (1) Actual scored in parantheses (0)
    								<br>
    								<table class="table table-responsive">
    									<thead>
    										<tr>
    											<th>Match #</th>
    											<th>Home Team</th>
    											<th colspan="2">Score</th>
    											<th>Away Team</th>
    											<th>Match #</th>
    											<th>Home Team</th>
    											<th colspan="2">Score</th>
    											<th>Away Team</th>
    										</tr>
    									</thead>
    									<tbody>
    										<tr>
    											<th colspan="10">Group A</th>
    										</tr>
    										<tr>
    											<th>A1</th>
    											<td>France</td>
                                                {% if sub.a1h==2 and sub.a1a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a1h>sub.a1a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
    											<td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.a1h }}</td>
    											<td bgcolor={{color}}>{{ sub.a1a }}&nbsp;&nbsp;(1)</td>
    											<td>Romania</td>
    											<th>A2</th>
    											<td>Albania</td>
                                                {% if sub.a2h==0 and sub.a2a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a2h < sub.a2a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
    											<td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.a2h }}</td>
    											<td bgcolor={{color}}>{{ sub.a2a }}&nbsp;&nbsp;(1)</td>
    											<td>Switzerland</td>
    										</tr>
    										<tr>
    											<th>A3</th>
    											<td>Romania</td>
    											{% if sub.a3h==1 and sub.a3a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a3h == sub.a3a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.a3h }}</td>
                                                <td bgcolor={{color}}>{{ sub.a3a }}&nbsp;&nbsp;(1)</td>
    											<td>Switzerland</td>
    											<th>A4</th>
    											<td>France</td>
    											{% if sub.a4h==2 and sub.a4a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a4h > sub.a4a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.a4h }}</td>
                                                <td bgcolor={{color}}>{{ sub.a4a }}&nbsp;&nbsp;(0)</td>
    											<td>Albania</td>
    										</tr>
    										<tr>
    											<th>A5</th>
    											<td>Switzerland</td>
    											{% if sub.a5h==0 and sub.a5a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a5h == sub.a5a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.a5h }}</td>
                                                <td bgcolor={{color}}>{{ sub.a5a }}&nbsp;&nbsp;(0)</td>
    											<td>France</td>
    											<th>A6</th>
    											<td>Romania</td>
    											{% if sub.a6h==0 and sub.a6a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a6h < sub.a6a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.a6h }}</td>
                                                <td bgcolor={{color}}>{{ sub.a6a }}&nbsp;&nbsp;(1)</td>
    											<td>Albania</td>
    										</tr>
    										<tr>
    											<th colspan="10">Group B</th>
    										</tr>
    										<tr>
    											<th>B1</th>
    											<td>Wales</td>
    											{% if sub.b1h==2 and sub.b1a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b1h>sub.b1a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.b1h }}</td>
                                                <td bgcolor={{color}}>{{ sub.b1a }}&nbsp;&nbsp;(1)</td>
    											<td>Slovakia</td>
    											<th>B2</th>
    											<td>England</td>
    											{% if sub.b2h==1 and sub.b2a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b2h==sub.b2a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.b2h }}</td>
                                                <td bgcolor={{color}}>{{ sub.b2a }}&nbsp;&nbsp;(1)</td>
    											<td>Russia</td>
    										</tr>
    										<tr>
    											<th>B3</th>
    											<td>Russia</td>
    											{% if sub.b3h==1 and sub.b3a==2 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b3h < sub.b3a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.b3h }}</td>
                                                <td bgcolor={{color}}>{{ sub.b3a }}&nbsp;&nbsp;(2)</td>
    											<td>Slovakia</td>
    											<th>B4</th>
    											<td>England</td>
    											{% if sub.b4h==2 and sub.b4a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b4h > sub.b4a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.b4h }}</td>
                                                <td bgcolor={{color}}>{{ sub.b4a }}&nbsp;&nbsp;(1)</td>
    											<td>Wales</td>
    										</tr>
    										<tr>
    											<th>B5</th>
    											<td>Slovakia</td>
    											{% if sub.b5h==0 and sub.b5a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b5h == sub.b5a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.b5h }}</td>
                                                <td bgcolor={{color}}>{{ sub.b5a }}&nbsp;&nbsp;(0)</td>
    											<td>England</td>
    											<th>B6</th>
    											<td>Russia</td>
    											{% if sub.b6h==0 and sub.b6a==3 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b6h < sub.b6a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.b6h }}</td>
                                                <td bgcolor={{color}}>{{ sub.b6a }}&nbsp;&nbsp;(3)</td>
    											<td>Wales</td>
    										</tr>
    										<tr>
    											<th colspan="10">Group C</th>
    										</tr>
    										<tr>
    											<th>C1</th>
    											<td>Poland</td>
                                                {% if sub.c1h==1 and sub.c1a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c1h>sub.c1a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.c1h }}</td>
                                                <td bgcolor={{color}}>{{ sub.c1a }}&nbsp;&nbsp;(0)</td>
    											<td>Northern Ireland</td>
    											<th>C2</th>
    											<td>Germany</td>
    											{% if sub.c2h==2 and sub.c2a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c2h>sub.c2a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.c2h }}</td>
                                                <td bgcolor={{color}}>{{ sub.c2a }}&nbsp;&nbsp;(0)</td>
    											<td>Ukraine</td>
    										</tr>
    										<tr>
    											<th>C3</th>
    											<td>Ukraine</td>
    											{% if sub.c3h==0 and sub.c3a==2 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c3h < sub.c3a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.c3h }}</td>
                                                <td bgcolor={{color}}>{{ sub.c3a }}&nbsp;&nbsp;(2)</td>
    											<td>Northern Ireland</td>
    											<th>C4</th>
    											<td>Germany</td>
    											{% if sub.c4h==0 and sub.c4a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c4h == sub.c4a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.c4h }}</td>
                                                <td bgcolor={{color}}>{{ sub.c4a }}&nbsp;&nbsp;(0)</td>
    											<td>Poland</td>
    										</tr>
    										<tr>
    											<th>C5</th>
    											<td>Northern Ireland</td>
    											{% if sub.c5h==0 and sub.c5a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c5h < sub.c5a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.c5h }}</td>
                                                <td bgcolor={{color}}>{{ sub.c5a }}&nbsp;&nbsp;(1)</td>
    											<td>Germany</td>
    											<th>C6</th>
    											<td>Ukraine</td>
    											{% if sub.c6h==0 and sub.c6a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c6h < sub.c6a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.c6h }}</td>
                                                <td bgcolor={{color}}>{{ sub.c6a }}&nbsp;&nbsp;(1)</td>
    											<td>Poland</td>
    										</tr>
    										<tr>
    											<th colspan="10">Group D</th>
    										</tr>
    										<tr>
    											<th>D1</th>
    											<td>Turkey</td>
    											{% if sub.d1h==0 and sub.d1a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d1h < sub.d1a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.d1h }}</td>
                                                <td bgcolor={{color}}>{{ sub.d1a }}&nbsp;&nbsp;(1)</td>
    											<td>Croatia</td>
    											<th>D2</th>
    											<td>Spain</td>
    											{% if sub.d2h==1 and sub.d2a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d2h > sub.d2a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.d2h }}</td>
                                                <td bgcolor={{color}}>{{ sub.d2a }}&nbsp;&nbsp;(0)</td>
    											<td>Czech Republic</td>
    										</tr>
    										<tr>
    											<th>D3</th>
    											<td>Czech Republic</td>
    											{% if sub.d3h==2 and sub.d3a==2 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d3h == sub.d3a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.d3h }}</td>
                                                <td bgcolor={{color}}>{{ sub.d3a }}&nbsp;&nbsp;(2)</td>
    											<td>Croatia</td>
    											<th>D4</th>
    											<td>Spain</td>
    											{% if sub.d4h==3 and sub.d4a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d4h > sub.d4a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(3)&nbsp;&nbsp;{{ sub.d4h }}</td>
                                                <td bgcolor={{color}}>{{ sub.d4a }}&nbsp;&nbsp;(0)</td>
    											<td>Turkey</td>
    										</tr>
    										<tr>
    											<th>D5</th>
    											<td>Croatia</td>
    											{% if sub.d5h==2 and sub.d5a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d5h > sub.d5a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.d5h }}</td>
                                                <td bgcolor={{color}}>{{ sub.d5a }}&nbsp;&nbsp;(1)</td>
    											<td>Spain</td>
    											<th>D6</th>
    											<td>Czech Republic</td>
    											{% if sub.d6h==0 and sub.d6a==2 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d6h < sub.d6a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.d6h }}</td>
                                                <td bgcolor={{color}}>{{ sub.d6a }}&nbsp;&nbsp;(2)</td>
    											<td>Turkey</td>
    										</tr>
    										<tr>
    											<th colspan="10">Group E</th>
    										</tr>
    										<tr>
    											<th>E1</th>
    											<td>Republic of Ireland</td>
    											{% if sub.e1h==1 and sub.e1a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e1h == sub.e1a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.e1h }}</td>
                                                <td bgcolor={{color}}>{{ sub.e1a }}&nbsp;&nbsp;(1)</td>
    											<td>Sweden</td>
    											<th>E2</th>
    											<td>Belgium</td>
                                                {% if sub.e2h==0 and sub.e2a==2 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e2h < sub.e2a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.e2h }}</td>
                                                <td bgcolor={{color}}>{{ sub.e2a }}&nbsp;&nbsp;(2)</td>
    											<td>Italy</td>
    										</tr>
    										<tr>
    											<th>E3</th>
    											<td>Italy</td>
    											{% if sub.e3h==1 and sub.e3a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e3h > sub.e3a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.e3h }}</td>
                                                <td bgcolor={{color}}>{{ sub.e3a }}&nbsp;&nbsp;(0)</td>
    											<td>Sweden</td>
    											<th>E4</th>
    											<td>Belgium</td>
    											{% if sub.e4h==3 and sub.e4a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e4h > sub.e4a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(3)&nbsp;&nbsp;{{ sub.e4h }}</td>
                                                <td bgcolor={{color}}>{{ sub.e4a }}&nbsp;&nbsp;(0)</td>
    											<td>Republic of Ireland</td>
    										</tr>
    										<tr>
    											<th>E5</th>
    											<td>Sweden</td>
    											{% if sub.e5h==0 and sub.e5a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e5h < sub.e5a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.e5h }}</td>
                                                <td bgcolor={{color}}>{{ sub.e5a }}&nbsp;&nbsp;(1)</td>
    											<td>Belgium</td>
    											<th>E6</th>
    											<td>Italy</td>
    											{% if sub.e6h==0 and sub.e6a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e6h < sub.e6a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.e6h }}</td>
                                                <td bgcolor={{color}}>{{ sub.e6a }}&nbsp;&nbsp;(1)</td>
    											<td>Republic of Ireland</td>
    										</tr>
    										<tr>
    											<th colspan="10">Group F</th>
    										</tr>
    										<tr>
    											<th>F1</th>
    											<td>Austria</td>
    											{% if sub.f1h==0 and sub.f1a==2 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f1h < sub.f1a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.f1h }}</td>
                                                <td bgcolor={{color}}>{{ sub.f1a }}&nbsp;&nbsp;(2)</td>
    											<td>Hungary</td>
    											<th>F2</th>
    											<td>Portugal</td>
    											{% if sub.f2h==1 and sub.f2a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f2h == sub.f2a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.f2h }}</td>
                                                <td bgcolor={{color}}>{{ sub.f2a }}&nbsp;&nbsp;(1)</td>
    											<td>Iceland</td>
    										</tr>
    										<tr>
    											<th>F3</th>
    											<td>Iceland</td>
    											{% if sub.f3h==1 and sub.f3a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f3h == sub.f3a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(1)&nbsp;&nbsp;{{ sub.f3h }}</td>
                                                <td bgcolor={{color}}>{{ sub.f3a }}&nbsp;&nbsp;(1)</td>
    											<td>Hungary</td>
    											<th>F4</th>
    											<td>Portugal</td>
    											{% if sub.f4h==0 and sub.f4a==0 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f4h == sub.f4a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(0)&nbsp;&nbsp;{{ sub.f4h }}</td>
                                                <td bgcolor={{color}}>{{ sub.f4a }}&nbsp;&nbsp;(0)</td>
    											<td>Austria</td>
    										</tr>
    										<tr>
    											<th>F5</th>
    											<td>Hungary</td>
    											{% if sub.f5h==3 and sub.f5a==3 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f5h == sub.f5a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(3)&nbsp;&nbsp;{{ sub.f5h }}</td>
                                                <td bgcolor={{color}}>{{ sub.f5a }}&nbsp;&nbsp;(3)</td>
    											<td>Portugal</td>
    											<th>F6</th>
    											<td>Iceland</td>
    											{% if sub.f6h==2 and sub.f6a==1 %}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f6h > sub.f6a %}
                                                    {% set color='#ffff66' %}
                                                {% else %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td bgcolor={{color}}>(2)&nbsp;&nbsp;{{ sub.f6h }}</td>
                                                <td bgcolor={{color}}>{{ sub.f6a }}&nbsp;&nbsp;(1)</td>
    											<td>Austria</td>
    										</tr>
    										<tr>
    											<th colspan="10">Group Standings</th>
    										</tr>
                                            <tr>
                                                <th colspan="10">
                                                <span style="background-color:#00cc00">Green means position was predicted correctly (3 points)</span><br>
                                                <span style="background-color:#ffff66">Yellow means team was predicted to pass but in wrong position (2 point)</span><br>
                                                <span style="background-color:#ff4d4d">Red means the team did not pass (0 points)</span><br> 
                                                </th>
                                            </tr>
    										<tr>
    											<th>Group</th>
    											<th colspan="2">1st</th>
    											<th colspan="2">2nd</th>
    											<th>Group</th>
    											<th colspan="2">1st</th>
    											<th colspan="2">2nd</th>
    										</tr>
    										<tr>
    											<th>A</th>
                                                {% set first=['France', 'Wales', 'Germany', 'Croatia', 'Hungary', 'Italy'] %}
                                                {% set second=['Switzerland', 'England', 'Poland', 'Spain', 'Iceland', 'Belgium'] %}
                                                {% set third=['Slovakia', 'Northern Ireland', 'Portugal', 'Republic of Ireland'] %}
                                                {% set out=['Romania', 'Russia', 'Ukraine', 'Czech Republic', 'Austria', 'Sweden', 'Albania', 'Turkey'] %}
    											{% if sub.a1 in first%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a1 in second+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.a1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.a1 }}</td>
    											{% if sub.a2 in second%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.a2 in first+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.a2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.a2 }}</td>
    											<th>B</th>
                                                {% if sub.b1 in first%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b1 in second+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.b1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
    											<td colspan="2" bgcolor={{color}}>{{ sub.b1 }}</td>
                                                {% if sub.b2 in second%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.b2 in first+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.b2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
    											<td colspan="2" bgcolor={{color}}>{{ sub.b2 }}</td>
    										</tr>
    										<tr>
    											<th>C</th>
    											{% if sub.c1 in first%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c1 in second+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.c1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.c1 }}</td>
    											{% if sub.c2 in second%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.c2 in first+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.c2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.c2 }}</td>
    											<th>D</th>
    											{% if sub.d1 in first%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d1 in second+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.d1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.d1 }}</td>
                                                {% if sub.d2 in second%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.d2 in first+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.d2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.d2 }}</td>
    										</tr>
    										<tr>
    											<th>E</th>
    											{% if sub.e1 in first%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e1 in second+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.e1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.e1 }}</td>
                                                {% if sub.e2 in second%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.e2 in first+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.e2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.e2 }}</td>
    											<th>F</th>
    											{% if sub.f1 in first%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f1 in second+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.f1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.f1 }}</td>
                                                {% if sub.f2 in second%}
                                                    {% set color='#00cc00' %}
                                                {% elif sub.f2 in first+third %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.f2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.f2 }}</td>
    										</tr>
    										<tr>
    											<th colspan="2">Third Place</th>
    											{% if sub.third1 in first+second %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.third1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.third1 in third %}
                                                    {% set color='#00cc00' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.third1 }}</td>
    											{% if sub.third2 in first+second %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.third2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.third2 in third %}
                                                    {% set color='#00cc00' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.third2 }}</td>
    											{% if sub.third3 in first+second %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.third3 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.third3 in third %}
                                                    {% set color='#00cc00' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.third3 }}</td>
    											{% if sub.third4 in first+second %}
                                                    {% set color='#ffff66' %}
                                                {% elif sub.third4 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.third4 in third %}
                                                    {% set color='#00cc00' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.third4 }}</td>
    										</tr>
                                            {% set out=['Romania', 'Russia', 'Ukraine', 'Czech Republic', 'Austria', 'Sweden', 'Albania', 'Turkey', 'Switzerland', 'Northern Ireland', 'Croatia', 'Republic of Ireland', 'Slovakia', 'Hungary', 'Spain', 'England'] %}
                                            {% set quarters=['Poland', 'Wales', 'Portugal', 'France', 'Germany', 'Belgium', 'Italy', 'Iceland'] %}
    										<tr>
    											<th colspan="10">Quarter Finalists</th>
    										</tr>
    										<tr>
    											<td></td>
                                                {% if sub.q1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q1 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
    											<td colspan="2" bgcolor={{color}}>{{ sub.q1 }}</td>
    											{% if sub.q2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q2 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.q2 }}</td>
    											{% if sub.q3 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q3 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.q3 }}</td>
    											{% if sub.q4 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q4 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.q4 }}</td>
    											<td></td>
    										</tr>
    										<tr>
    											<td></td>
    											{% if sub.q5 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q5 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.q5 }}</td>
                                                {% if sub.q6 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q6 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.q6 }}</td>
                                                {% if sub.q7 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q7 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.q7 }}</td>
                                                {% if sub.q8 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.q8 in quarters %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.q8 }}</td>
    											<td></td>
    										</tr>
                                            {% set out=['Romania', 'Russia', 'Ukraine', 'Czech Republic', 'Austria', 'Sweden', 'Albania', 'Turkey', 'Switzerland', 'Northern Ireland', 'Croatia', 'Republic of Ireland', 'Slovakia', 'Hungary', 'Spain', 'England', 'Poland', 'Belgium', 'Italy', 'Iceland'] %}
                                            {% set semis = ['Portugal', 'Wales', 'Germany', 'France'] %}
    										<tr>
    											<th colspan="10">Semi Finalists</th>
    										</tr>
    										<tr>
    											<td></td>
    											{% if sub.semi1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.semi1 in semis %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.semi1 }}</td>
    											{% if sub.semi2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.semi2 in semis %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.semi2 }}</td>
    											{% if sub.semi3 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.semi3 in semis %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.semi3 }}</td>
    											{% if sub.semi4 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.semi4 in semis %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.semi4 }}</td>
    											<td></td>
    										</tr>
    										<tr>
    											<th colspan="10">Finalists</th>
    										</tr>
    										<tr>
    											<th></th>
    											<th colspan="2">Finalist 1</th>
    											<th colspan="2">Finalist 2</th>
    											<th colspan="2">Champion</th>
    											<th colspan="2"><strike>3rd Place</strike></th>
    											<th></th>
    										</tr>
                                            {% set out=['Romania', 'Russia', 'Ukraine', 'Czech Republic', 'Austria', 'Sweden', 'Albania', 'Turkey', 'Switzerland', 'Northern Ireland', 'Croatia', 'Republic of Ireland', 'Slovakia', 'Hungary', 'Spain', 'England', 'Poland', 'Belgium', 'Italy', 'Iceland', 'Wales', 'Germany'] %}
                                            {% set fin = ['Portugal', 'France'] %}
    										<tr>
    											<td></td>
    											{% if sub.fin1 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.fin1 in fin %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.fin1 }}</td>
    											{% if sub.fin2 in out %}
                                                    {% set color='#ff4d4d' %}
                                                {% elif sub.fin2 in fin %}
                                                    {% set color='#00cc00' %}
                                                {% else %}
                                                    {% set color='' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.fin2 }}</td>
    											{% if sub.champion != 'Portugal' %}
                                                    {% set color='#ff4d4d' %}
                                                {% else %}
                                                    {% set color='#00cc00' %}
                                                {% endif %}
                                                <td colspan="2" bgcolor={{color}}>{{ sub.champion }}</td>
                                                <td colspan="2"><strike>{{ sub.third_place }}</strike></td>
    											<td></td>
    										</tr>
    										<tr>
    											<th colspan="10">Top Scorer</th>
    										</tr>
    										<tr>
                                                {% if sub.top_scorer != 'Antoine Griezmann' %}
                                                    {% set color='#ff4d4d' %}
                                                {% else %}
                                                    {% set color='#00cc00' %}
                                                {% endif %}
    											<td colspan="10" bgcolor={{color}}>{{ sub.top_scorer }}</td>
    										</tr>
    									</tbody>
    								</table>
    							<br><br><br>
    						</div>
    					</div>	
    				</div>
    			</div>
    		</div>
    		<!-- /#page-content-wrapper -->

    	</div>
    	<!-- /#wrapper -->

    	<!-- jQuery -->
    	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    	<!-- Bootstrap Core JavaScript -->
    	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    	<script>
    		$("#menu-toggle").click(function(e) {
    			e.preventDefault();
    			$("#wrapper").toggleClass("toggled");
    		});
    	</script>
    </body>

    </html>
